cffi==1.13.2
Click==7.0
cryptography==2.8
Flask==1.1.2
Flask-HTTPAuth==4.1.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pycparser==2.19
pyOpenSSL==19.1.0
six==1.13.0
Werkzeug==0.16.0
dnspython==1.16.0
pymongo==3.10.1
pytest==3.3.2
pytest-mock==1.7.1
mongomock==3.19.0
awscli==1.18.89
boto3==1.14.12